@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

.sp {
    display: none;
    @media screen and (max-width:600px) {
        display: block;
    }
}

.ja {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 500;
}

body {
    font-size: 20px;
    font-family: industry, sans-serif;
}

h2,
h3,
p {
    font-weight: 400;
}

p {
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

img,
iframe {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    width: 100%;
}

iframe {
    background-color: #000;
}

em {
    font-style: normal;
    font-weight: 500;
    &.bold {
        font-weight: 700;
    }
}

.space {
    display: inline-block;
    width: 1em;
}

/* =====================
  hover
===================== */

a {
    &.hover {
        position: relative;
        display: inline-block;
        &::after {
            position: absolute;
            bottom: -2px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: #f00;
            transform: scale(0, 1);
            transform-origin: left top;
            transition: transform .3s;
        }
        &:hover::after {
            transform: scale(1, 1);
        }
    }
    &.hover-c:hover {
        color: #f00;
        transition: color .3s;
    }
}

.hover-shadow {
    display: inline-block;
    background-color: #000;
    backface-visibility: hidden;
    &:hover {
        img {
            opacity: .7;
            transition: .7s;
            @media screen and (max-width:600px) {
                opacity: 1;
            }
        }
    }
}

/* =====================
  topへ戻る
===================== */

#page_top {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
    bottom: 150px;
    background: #000;
    border-radius: 50%;
    @media screen and (max-width:600px) {
        /*width: 45px;
        height: 45px;*/
        position: fixed;
        right: 2%;
        bottom: 2%;
        background: #000;
        opacity: .8;
    }
    a {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        text-decoration: none;
        &::before {
            font-family: FontAwesome;
            content: '\f106';
            font-size: 25px;
            color: #fff;
            position: absolute;
            width: 25px;
            height: 25px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            text-align: center;
            @media screen and (max-width:600px) {
                font-size: 22px;
                /*top: -10%;
                right: 10%;*/
            }
        }
    }
}