@charset "utf-8";

/* =====================
  wrap
===================== */

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.content-wrapper {
    padding: 100px 30px;
    margin: 0 auto;
    @media screen and (max-width:600px) {
        padding: 1rem;
    }
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:600px) {
        display: inherit;
    }
}

.fixed-content {
    position: fixed;
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 10;
    @media screen and (max-width:600px) {
        padding: 0 1rem;
    }
}

/* =====================
  .gnav
===================== */

.gnav {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    li {
        width: 100px;
        text-align: center;
        position: relative;
        &.logo {
            top: -2px;
        }
        &:nth-child(2) {
            left: 1.5%;
        }
        &:nth-child(3) {
            left: 2%;
        }
        &:nth-child(4) {
            left: 2.5%;
        }
        &:last-child {
            text-align: right;
        }
        a {
            &.is-current {
                border-bottom: 2px solid #ff0000;
            }
        }
    }
}

/* =====================
  header,footer
===================== */

header,
footer {
    @media screen and (max-width:600px) {
        padding: 0 1rem;
        ul {
            &.gnav {
                display: none;
            }
        }
    }
}

header {
    top: 20px;
    ul {
        &.gnav {
            margin-bottom: 50px;
        }
    }
}

.en header ul li.logo  {
    top: -6px;
}

footer {
    bottom: 0;
    ul {
        &.gnav {
            margin-bottom: 20px;
            li {
                &.logo {
                    top: -5px;
                }
            }
        }
        &.contact {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 300;
            font-style: italic;
            letter-spacing: 2px;
            margin-bottom: 20px;
            @media screen and (max-width:600px) {
                flex-direction: column;
                margin: .75rem 0;
                font-size: 3vw;
                &:not(.index-contact) {
                    display: none;
                }
            }
        }
    }
}

/*footer.ja ul li:nth-child(1) a {
    padding-bottom: 5px;
}*/

/* =====================
  top
===================== */

.issue-wrapper-top {
    top: 100px;
    @media screen and (max-width:600px) {
        top: 11vh;
    }
}

.issue-wrapper-bottom {
    bottom: 130px;
    @media screen and (max-width:600px) {
        bottom: 11vh;
    }
    .index-issue {
        margin-bottom: 10px;
    }
}

.index-issue {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    line-height: 46px;
    p {
        width: 50%;
        @media screen and (max-width:600px) {
            width: 44%;
            line-height: 1.5rem;
            letter-spacing: .05rem;
            a {
                display: inline;
            }
        }
        &.ar {
            text-align: right;
        }
    }
    @media screen and (max-width:600px) {
        font-size: 1.15rem;
    }
}