@charset "utf-8";

@media screen and (max-width:600px) {
    .en {
        h2 {
        font-size: 1.15rem;
        }
    }
}

.flex-wrapper {
    margin-bottom: 100px;
    @media screen and (max-width:600px) {
        margin-bottom: 3rem;
    }
}

.col1 {
    width: 100%;
    margin-bottom: 70px;
    @media screen and (max-width:600px) {
        margin-bottom: 3rem;
    }
    h2 {
        &.ttl {
            margin-bottom: 20px;
            @media screen and (max-width:600px) {
                font-size: 1.15rem;
                margin-bottom: .75rem;
            } 
        }
        &.bottom-ttl {
            margin-top: -30px;
            @media screen and (max-width:600px) {
                margin-top: 0;
            }
        }
    }
    p {
        &.sttl {
            margin-bottom: 40px;
            font-size: 18px;
            @media screen and (max-width:600px) {
                font-size: .85rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.col2 {
    &.fl {
        width: 55%;
        @media screen and (max-width:600px) {
            width: 100%;
        }
        p {
            text-align: justify;
            font-size: 14px;
            line-height: 2;
            letter-spacing: 1px;
            @media screen and (max-width:600px) {
                font-size: .75rem;
                line-height: 2;
                letter-spacing: .05rem;
            }
        }
    }
    &.fr {
        width: 40%;
        @media screen and (max-width:600px) {
            width: 100%;
        }
        p {
            width: 60%;
            position: relative;
            top: 220px;
            left: 183px;
            @media screen and (max-width:600px) {
                width: 100%;
                position: static;
                text-align: center;
                padding: 3rem 0 1rem;
                img {
                    width: 45%;
                }
            }
            &.bottom-img {
                width: 90%;
                top: 585px;
                left: 46px;
                @media screen and (max-width:600px) {
                    width: 100%;
                    img {
                        width: 90%;;
                    }
                }
            }
            &.img-bottom {
                position: relative;
                top: 580px;
            }
        }
    }
}