<%- include('./include/_header_en',{path: './', pageID: 'index'}); %>

<!-- start contents -->

<div class="issue-wrapper-top fixed-content">
<div class="index-issue">
<p><a class="hover-c" href="exhibition/index_en.html">Exhibition<br>Living Room<br>19.04-20.04.2018</a></p>
<p class="ar"><a class="hover-c" href="news/index_en.html">News<br>im labor starts from<br>September 2017</a></p>
</div>
</div>

<div class="issue-wrapper-bottom fixed-content">
<div class="index-issue ja">
<p><a class="hover-c" href="exhibition/index.html">展示<br>ルームリビング<br><span class="tk-industry">19.04-20.04.2018</span></a></p>
<p class="ar"><a class="hover-c" href="news/index.html">ニュース<br>イム労働から始まり<br><span class="tk-industry">2017</span>年<span class="tk-industry">9</span>月</a></p>
</div>
</div>

<!-- end contents -->

<%- include('./include/_footer_en',{path: './', pageID: 'index'}); %>