<%- include('../include/_header',{path: '../', pageID: 'journal'}); %>

<!-- start contents -->

<div class="content-wrapper">
<section class="col1">
<h2 class="ttl">記憶、物体そして流動性</h2>
<p class="sttl">中尾拓哉（美術評論家）</p>
<p><img src="imgs/img-01.gif"></p>
</section>
<div class="flex-wrapper">
<section class="col2 fl">
<p>　新宿パークタワー。セッティングされた受付嬢から、ハンドアウトを受け取る。円形の受付カウンターの背後の壁には、杉原玲那の絵画が掛けられている。厚塗りのメディウムはジェル状のまま、幾何学的なオブジェクトをキャンバスに定着させていないようにも見える。ハンドアウトは今なお手元に残るただ一つの物体となった。ここには“<span class="tk-industry">Im labor</span>はアーティストコレクティブによって<span class="tk-industry">2017</span>年にスタートしたフィジカルスペースを持たないノマドギャラリーです”と書かれている。<br><br>　展覧会は絵画の形式ではじまる。ポータブルな絵画のサイズが、展覧会を擬態しているようである。なぜならば、ハリエット・フローレンス・ファーマーは“<span class="tk-industry">Solve et Coagula</span>（溶かして固める）”に“<span class="tk-industry">Play</span>（遊び）”を見出し、溶解して、凝固したその絵画平面の上で、動的なフローと静的なオブジェクトの互換性をプレイ画面、あるいはタッチパネルのインターフェイスのように、薄らと提示している。また、“国境とは常に不明瞭で不愉快なものであった”と述べるインディア・ニエルセンは、その境界領域が具象と抽象、のみならずあらゆる形式の間にありうるものだと、絵画空間にディメンションを与えながらも、そのプログラム自体を流動させるように、アニメートし混ぜ合わせている。そして、フェリックス・トレッドウェルは絵画の矩形のうちにもう一つの矩形を置き、“タバコを吹かしたり、友人と遊んだり、メールしていたり”するキャラクターの“<span class="tk-industry">Rupert</span>の日常を”、エアロゾールの粒子でぼやけさせ、簡単に移りゆくブラウザーを覗き込むように、軽やかに伝えている。<br><br>　こうした木枠に張られたキャンバスというオーソドックスな形式に擬態したノマディックな絵画空間は、エリン・ローラ・ヒュージズのように、見慣れた景色を切り分け、キュビスムからマルチモニター、あるいはコラージュからレイヤーへと変換させるような、時空間の連続によっても表されていた。にもかかわらず彼女が“制作とは自身の記憶と社会における事実を行き来し、身近にある誰も気づいていないような又は目をそらしているおいてけぼりにされた現象を取り戻すための手段”とするように、それらの絵画空間はイギリスから移動してきたソケットや、<span class="tk-industry">MDF</span>ボードと壁紙でできた暖炉のイミテーションの上に乗せられ、恒常性を擬態する。</p>
</section>
<section class="col2 fr">
<p><img src="imgs/img-02.gif"></p>
</section>
</div>
<!--/.flex-wrapper-->
<section class="col1">
<p><img src="imgs/img-03.gif"></p>
</section>
<div class="flex-wrapper">
<section class="col2 fl">
<p>　大谷透の作品の前で、足が止まる。床に置かれたカナダツガのロゴが押された木材には、タバコの「ハイライト」の封緘紙が貼られている。大谷は“商品パッケージのデザイン、服の型紙、木材の規格マークスタンプ、サンドペーパーの裏面ロゴスタンプなど、さまざまな図案を素材に”し、それらを塗り潰したり、塗り残したりしながら、<span class="tk-industry">1</span>ハード<span class="tk-industry">1</span>ソフトでプログラムを固定されたゲーム機のように、図像を浮かび上がらせる。しかし、その色鉛筆でスクライブされた積層は、「塗り潰す」という描画の行為に向けられる没頭、そしてそのレディメイドの図案をランダムにする背景は、「塗り残す」という描画の非-行為に向けられる諦念となり、さまざまな素材へと——まるでカートリッジのように——動態と静態を移行させるのである。<br><br>　こうした図像と図案の関係性は、展覧会のあり方とも無関係ではない。新宿パークタワーにおける展覧会は、インストールされるというよりも、カートリッジを交換するゲーム機のようにセットされているのである。それは“ルールを変えることがルールである芸術は、必然的に様式変化により継承される”ことをコンセプトの一つとする、三嶋一路によって強化されていた。天然銘木フロア、サイディングボード、ガルバリウム鋼板、ジプトーン・ライト。三嶋によって、床、壁、天井の素材が組み合わせられたパーテーションは、サイトスペシフィックでもなければ、インスタレーションでもなく、展覧会をセットする。ゆえに、それはハードがあれば、ソフトであり続けることができる、と新宿パークタワーにノマディックな構造——天然銘木フロアの構造が、輸送用パレットのようにも見える——を露出させるのである。そして、そのカートリッジですら、レディメイドの構成物であると、組み立て式の図面を残すのであった。<br><br>　“物質的に絵画の一部になりたいという自身の欲求が満たされない抵抗としてのインスタレーション作品”を制作する杉原のフレームに入れられた油彩画は、ポリカ中空ボードの向こう側でベニヤ板とともにあり、ライトバルブに照らされているが、それは絵画の住まい、あるいはそれが素材に覆われたソフトであることを図解するようである。そして、“生身のモデルは使わずに雑誌やネットで拾った画像を元に制作するという手法”で描く大久保薫が、<span class="tk-industry">3</span>次元ではなく、そうした<span class="tk-industry">2</span>次元の中に<span class="tk-industry">3</span>次元の肉体を求め、絵画空間に変換し、デフォルメしているのは、むしろノマディックな絵画自体に配置されてきたオブジェクトの移ろいそのものとなろう。<br><br>　花崗岩の床。カナダツガに「ハイライト」の封緘紙。天然銘木フロアのパレットに油彩用パレット。サイディングボードに暖炉のイミテーション。ガルバリウム鋼板にジプトーン・ライト。そして、そこに「海釣り名人〜スズキ編〜」のプレイ画面——新宿パークタワー。木枠に張られたキャンバスの絵画空間がノマディックであることと同じように、それらはカートリッジとなり、接続されているのである。<br><br>　その日、<span class="tk-industry">1</span>日のすべてがどうでもよくなる。とても面白いゲーム機をプレイするあの日のように。記憶は変わっていくだろう。しかし、ノスタルジックに定着する必要はない。記憶、物体そして流動性、あるいは泥、東京そしてスウィミング。<br><br><span class="tk-industry">2018</span>年<span class="tk-industry">9</span>月<span class="tk-industry">30</span>日</p>
</section>
<section class="col2 fr">
<p class="bottom-img"><img src="imgs/img-04.gif"></p>
</section>
</div>
<!--/.flex-wrapper-->
<section class="col1">
<h2 class="ttl bottom-ttl tk-industry"><a class="hover-c" href="../exhibition/mudtokyoandswimming/index.html" class="hover-text">Mud,Tokyo and Swimming</a></h2>
<ction>
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer',{path: '../', pageID: 'journal'}); %>