<%- include('../include/_header_en',{path: '../', pageID: 'exhibition'}); %>

<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<main>
<section>
<div class="ttl-wrapper">
<a class="hover-c hover-shadow" href="../exhibition/livingroom_en.html">
<h2>Living Room<br>19.04-20.04.2018</h2>
<img src="../exhibition/imgs/livingroom/works01.jpg">
</a>
</div>
<div class="text-wrapper">
<h3><em>Artists : </em>Colin Allen, Louis Appleby, Gala Bell, Cecilia Charlton, Laszlo Von Dohnanyi, Roy Efrat, Rae Hicks, Erin Hughes, James Jessiman, Sooheyon Kim, Sebastian Kozak, Tahmina Negmat, Milly Peck, Reina Sugihara, Yanwen Xiong, Taehoon Yang</h3>
<h3><em>Exhibition title : </em>Living Room</h3>
<h3><em>Venue : </em><a class="hover-c" href="http://maverickprojects.co.uk/category/whats-on/" target="_blank">Safehouse 1 & 2, London, UK</a></h3>
<h3><em>Date : </em>19.04-20.04.2018</h3>
<h3><em>Photography : </em><a href="http://scarlett-platel-dxfx.squarespace.com/" target="_blank">Scarlett Platel</a>, all imgs copyright and courtesy of the artists and im labor</h3>
</div>
<div class="img-wrapper">
<p><a class="hover-shadow" href="../exhibition/livingroom_en.html"><img src="../exhibition/imgs/livingroom/works10.jpg"></a></p>
<p><a class="hover-shadow" href="../exhibition/livingroom_en.html"><img src="../exhibition/imgs/livingroom/works15.jpg"></a></p>
<p><a class="hover-shadow" href="../exhibition/livingroom_en.html"><img src="../exhibition/imgs/livingroom/works23.jpg"></a></p>
<h2><a class="hover-c" href="../exhibition/livingroom_en.html">more</a></h2>
</div>
</section>
<section>
<div class="ttl-wrapper">
<a class="hover-c hover-shadow" href="../exhibition/mudtokyoandswimming_en.html">
<h2>MUD, TOKYO And SWIMMING<br>24.09-30.09.2017</h2>
<img src="../exhibition/imgs/mudtokyoandswimming/works26.jpg">
</a>
</div>
<div class="text-wrapper">
<h3 class="text-top"><em>Artists : </em>Harriet Florence Farmer, Erin Laura Hughes, India Nielsen, Toru Otani, Kaoru Okubo, Ichiro Mishima, Reina Sugihara, Felix Treadwell</h3>
<h3><em>Exhibition title : </em>MUD, TOKYO And SWIMMING</h3>
<h3><em>Venue : </em>Park Tower Hall Gallery1, Tokyo, Japan</h3>
<h3><em>Date : </em>24.09-30.09.2017</h3>
<h3><em>Photography : </em>Ichiro Mishima, all imgs copyright and courtesy of the artists and im labor</h3>
<h3><em><a class="hover-c" href="../exhibition/mudtokyoandswimming/mudtokyo_press_en.html">Press release & Artists biography</a></em></h3>
</div>
<div class="img-wrapper">
<p><a class="hover-shadow" href="../exhibition/mudtokyoandswimming_en.html"><img src="../exhibition/imgs/mudtokyoandswimming/works03.jpg"></a></p>
<p><a class="hover-shadow" href="../exhibition/mudtokyoandswimming_en.html"><img src="../exhibition/imgs/mudtokyoandswimming/works25.jpg"></a></p>
<p><iframe src="https://player.vimeo.com/video/238102474?loop=1&byline=0&portrait=0" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<h2><a class="hover-c" href="../exhibition/mudtokyoandswimming_en.html">more</a></h2>
</div>
</section>
</main>
<aside>
<p><a class="hover-c" href="../exhibition/livingroom_en.html"><img src="imgs/living-room_poster.png" width="90%">Living Room<br>at Safehouse 1 & 2, London<br>19.04-20.04.2018</a></p>
<p><a class="hover-c" href="../exhibition/mudtokyoandswimming_en.html"><img src="imgs/mudd_DM_master.png" width="90%">MUD, TOKYO And SWIMMING<br>at PARK TOWER HALL,Tokyo<br>24.09-30.09.2017</a></p>
</aside>
</div><!--/.flex-wrapper-->
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer_en',{path: '../', pageID: 'exhibition'}); %>