<%- include('../include/_header',{path: '../', pageID: 'exhibition'}); %>


<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<main>
<section>
<div class="ttl-wrapper">
<a class="hover-c hover-shadow" href="../exhibition/livingroom.html">
<h2>ルームリビング<br><span class="tk-industry">19.04-20.04.2018</span></h2>
<img src="../exhibition/imgs/livingroom/works01.jpg">
</a>
</div>
<div class="text-wrapper">
<h3><em>アーティスト：</em>コリン・アレン、ルイス・アップルビー、ガラ・ベル、セシリア・チャールトン、ラズロ・フォン・ドゥナニー、ロイ・エフラート、エイリン・ヒュークス、ジェイムズ・ジェシマン、キム・スヒョン、セバスチャン・コザック、タミナ・ネガット、ミリー・ペック、杉原玲那、ヤンウェン・シオン</h3>
<h3><em>展覧会のタイトル：</em>ルームリビング</h3>
<h3><em>会場：</em><a class="hover-c" href="http://maverickprojects.co.uk/category/whats-on/" target="_blank"><span class="tk-industry">Safehouse 1 & 2, </span>ロンドン、イギリス</a></h3>
<h3><em>日付：</em><span class="tk-industry">19.04-20.04.2018</span></h3>
<h3><em>写真：</em><a class="hover-c" href="http://scarlett-platel-dxfx.squarespace.com/" target="_blank">スカーレット・プラテル</a>、すべての画像の著作権と芸術家と私の労働の礼儀</h3>
</div>
<div class="img-wrapper">
<p><a class="hover-shadow" href="../exhibition/livingroom.html"><img src="../exhibition/imgs/livingroom/works10.jpg"></a></p>
<p><a class="hover-shadow" href="../exhibition/livingroom.html"><img src="../exhibition/imgs/livingroom/works15.jpg"></a></p>
<p><a class="hover-shadow" href="../exhibition/livingroom.html"><img src="../exhibition/imgs/livingroom/works23.jpg"></a></p>
<h2><a class="hover-c" href="../exhibition/livingroom.html">もっと</a></h2>
</div>
</section>
<section>
<div class="ttl-wrapper">
<a class="hover-c hover-shadow" href="../exhibition/mudtokyoandswimming.html">
<h2>泥、東京、スイミング<br><span class="tk-industry">24.09-30.09.2017</span></h2>
<img src="../exhibition/imgs/mudtokyoandswimming/works26.jpg">
</a>
</div>
<div class="text-wrapper">
<h3><em>アーティスト：</em>ハリエット・フィレンツェ・ファーマー、エリン・ローラ・ヒューズ、インディア・ニールセン、大谷透、大久保薫、三嶋一路、杉原玲那、フェリックス・トレッドウェル</h3>
<h3><em>展覧会のタイトル：</em>泥、東京、スイミング</h3>
<h3><em>会場：</em>パークタワーホールギャラリー<span class="tk-industry">1</span>、東京、日本</h3>
<h3><em>日付：</em><span class="tk-industry">24.09-30.09.2017</span></h3>
<h3><em>写真：</em>三嶋一路、すべての画像の著作権と芸術家と労働者の礼儀</h3>
<h3><em><a class="hover-c" href="../exhibition/mudtokyoandswimming/mudtokyo_press.html">プレスリリースとアーティストの経歴</a></em></h3>
</div>
<div class="img-wrapper">
<p><a class="hover-shadow" href="../exhibition/mudtokyoandswimming.html"><img src="../exhibition/imgs/mudtokyoandswimming/works03.jpg"></a></p>
<p><a class="hover-shadow" href="../exhibition/mudtokyoandswimming.html"><img src="../exhibition/imgs/mudtokyoandswimming/works25.jpg"></a></p>
<p><iframe src="https://player.vimeo.com/video/238102474?loop=1&byline=0&portrait=0" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<h2><a class="hover-c" href="../exhibition/mudtokyoandswimming.html">もっと</a></h2>
</div>
</section>
</main>
    
<aside>
<p><a class="hover-c" href="../exhibition/livingroom.html"><img src="imgs/living-room_poster.png"><span class="tk-industry">Safehouse1 & 2, London</span><br><span class="tk-industry">19.04-20.04.2018</span>の<br>リビングルーム</a></p>
<p><a class="hover-c" href="../exhibition/mudtokyoandswimming.html"><img src="imgs/mudd_DM_master.png"><span class="tk-industry">MUD, </span>東京スイミング<br><span class="tk-industry">PARK TOWER HALL, </span>東京で<br><span class="tk-industry">24.09-30.09.2017</span></a></p>
</aside>
</div><!--/.flex-wrapper-->
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer',{path: '../', pageID: 'exhibition'}); %>