<%- include('../include/_header_en',{path: '../', pageID: 'exhibition'}); %>

<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<main>
<section>
<div class="ttl-wrapper">
<h2>Living Room<br>19.04-20.04.2018</h2>
<img src="imgs/livingroom/works26.jpg">
</div>
<div class="text-wrapper">
<h3><em>Artists : </em>Colin Allen, Louis Appleby, Gala Bell, Cecilia Charlton, Laszlo Von Dohnanyi, Roy Efrat, Rae Hicks, Erin Hughes, James Jessiman, Sooheyon Kim, Sebastian Kozak, Tahmina Negmat, Milly Peck, Reina Sugihara, Yanwen Xiong, Taehoon Yang</h3>
<h3><em>Exhibition title : </em>Living Room</h3>
<h3><em>Venue : </em><a class="hover-c" href="http://maverickprojects.co.uk/category/whats-on/" target="_blank">Safehouse 1 & 2, London, UK</a></h3>
<h3><em>Date : </em>19.04-20.04.2018</h3>
<h3><em>Photography : </em><a href="http://scarlett-platel-dxfx.squarespace.com/" target="_blank">Scarlett Platel</a>, all imgs copyright and courtesy of the artists and im labor</h3>
<h3><em>Press release : </em>im labor is pleased to announce a group exhibition 'Living Room' - in collaboration with Cypher Collective. In this exhibition 16 London based artists will construct a domestic living environment through artworks that reference the urban living experience of today. The exhibition will take place across two houses side by side that are split into the themes of day and night.</h3>
<h3><em><a href="http://cypher-space.tumblr.com/" target="_blank">Cypher Collective</a></em></h3>
</div>
<div class="img-wrapper">
<p><img src="imgs/livingroom/works01.jpg"></p>
<p><img src="imgs/livingroom/works02.jpg"></p>
<p><img src="imgs/livingroom/works03.jpg"></p>
<p><img src="imgs/livingroom/works04.jpg"></p>
<p><img src="imgs/livingroom/works05.jpg"></p>
<p><img src="imgs/livingroom/works06.jpg"></p>
<p><img src="imgs/livingroom/works07.jpg"></p>
<p><img src="imgs/livingroom/works08.jpg"></p>
<p><img src="imgs/livingroom/works09.jpg"></p>
<p><img src="imgs/livingroom/works10.jpg"></p>
<p><img src="imgs/livingroom/works11.jpg"></p>
<p><img src="imgs/livingroom/works12.jpg"></p>
<p><img src="imgs/livingroom/works13.jpg"></p>
<!--<p><img src="imgs/livingroom/works14.jpg"></p>-->
<p><img src="imgs/livingroom/works15.jpg"></p>
<p><img src="imgs/livingroom/works16.jpg"></p>
<p><img src="imgs/livingroom/works17.jpg"></p>
<p><img src="imgs/livingroom/works18.jpg"></p>
<p><img src="imgs/livingroom/works19.jpg"></p>
<p><img src="imgs/livingroom/works20.jpg"></p>
<p><img src="imgs/livingroom/works21.jpg"></p>
<p><img src="imgs/livingroom/works22.jpg"></p>
<p><img src="imgs/livingroom/works23.jpg"></p>
<p><img src="imgs/livingroom/works24.jpg"></p>
<p><img src="imgs/livingroom/works25.jpg"></p>
<p><img src="imgs/livingroom/works26.jpg"></p>
<p><img src="imgs/livingroom/works27.jpg"></p>
<p><img src="imgs/livingroom/works28.jpg"></p>
</div>
</section>
</main>
<aside>
<p><a href="mudtokyoandswimming_en.html"><img src="imgs/mudd_DM_master.png">MUD, TOKYO And SWIMMING<br>at PARK TOWER HALL,Tokyo<br>24.09-30.09.2017</a></p>
</aside>
</div><!--/.flex-wrapper-->
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer_en',{path: '../', pageID: 'exhibition'}); %>
