<%- include('../include/_header',{path: '../', pageID: 'exhibition'}); %>

<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<main>
<section>
<div class="ttl-wrapper">
<h2>ルームリビング<br><span class="tk-industry">19.04-20.04.2018</span></h2>
<img src="imgs/livingroom/works26.jpg">
</div>
<div class="text-wrapper">
<h3><em>アーティスト：</em>コリン・アレン、ルイス・アップルビー、ガラ・ベル、セシリア・チャールトン、ラズロ・フォン・ドゥナニー、ロイ・エフラート、エイリン・ヒュークス、ジェイムズ・ジェシマン、キム・スヒョン、セバスチャン・コザック、タミナ・ネガット、ミリー・ペック、杉原玲那、ヤンウェン・シオン</h3>
<h3><em>展覧会のタイトル：</em>ルームリビング</h3>
<h3><em>会場：</em><a class="hover-c" href="http://maverickprojects.co.uk/category/whats-on/" target="_blank"><span class="tk-industry">Safehouse 1 & 2, </span>ロンドン、イギリス</a></h3>
<h3><em>日付：</em><span class="tk-industry">19.04-20.04.2018</span></h3>
<h3><em>写真：</em><a class="hover-c" href="http://scarlett-platel-dxfx.squarespace.com/" target="_blank">スカーレット・プラテル</a>、すべての画像の著作権と芸術家と私の労働の礼儀</h3>
<h3><em>プレスリリース：</em>私の労働者は<span class="tk-industry">Cypher Collective</span>と共同で、グループ展<span class="tk-industry">「Living Room」</span>を発表することを喜ばしく思います。この展覧会では、ロンドンの16人のアーティストが、今日の都市生活体験を参考にした家庭生活環境を構築します。この展覧会は、2つの家を横切って、昼夜のテーマに分かれて行われます。</h3>
<h3><em><a class="hover-c tk-industry" href="http://cypher-space.tumblr.com/" target="_blank">Cypher Collective&nbsp;&nbsp;</a></em></h3>
</div>
<div class="img-wrapper">
<p><img src="imgs/livingroom/works01.jpg"></p>
<p><img src="imgs/livingroom/works02.jpg"></p>
<p><img src="imgs/livingroom/works03.jpg"></p>
<p><img src="imgs/livingroom/works04.jpg"></p>
<p><img src="imgs/livingroom/works05.jpg"></p>
<p><img src="imgs/livingroom/works06.jpg"></p>
<p><img src="imgs/livingroom/works07.jpg"></p>
<p><img src="imgs/livingroom/works08.jpg"></p>
<p><img src="imgs/livingroom/works09.jpg"></p>
<p><img src="imgs/livingroom/works10.jpg"></p>
<p><img src="imgs/livingroom/works11.jpg"></p>
<p><img src="imgs/livingroom/works12.jpg"></p>
<p><img src="imgs/livingroom/works13.jpg"></p>
<!--<p><img src="imgs/livingroom/works14.jpg"></p>-->
<p><img src="imgs/livingroom/works15.jpg"></p>
<p><img src="imgs/livingroom/works16.jpg"></p>
<p><img src="imgs/livingroom/works17.jpg"></p>
<p><img src="imgs/livingroom/works18.jpg"></p>
<p><img src="imgs/livingroom/works19.jpg"></p>
<p><img src="imgs/livingroom/works20.jpg"></p>
<p><img src="imgs/livingroom/works21.jpg"></p>
<p><img src="imgs/livingroom/works22.jpg"></p>
<p><img src="imgs/livingroom/works23.jpg"></p>
<p><img src="imgs/livingroom/works24.jpg"></p>
<p><img src="imgs/livingroom/works25.jpg"></p>
<p><img src="imgs/livingroom/works26.jpg"></p>
<p><img src="imgs/livingroom/works27.jpg"></p>
<p><img src="imgs/livingroom/works28.jpg"></p>
</div>
</section>
</main>
    
<aside>
<p><a class="hover-c" href="mudtokyoandswimming.html"><img src="imgs/mudd_DM_master.png"><span class="tk-industry">MUD, </span>東京スイミング<br><span class="tk-industry">PARK TOWER HALL, </span>東京で<br><span class="tk-industry">24.09-30.09.2017</span></a></p>
</aside>
</div><!--/.flex-wrapper-->
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer',{path: '../', pageID: 'exhibition'}); %>