<%- include('../include/_header',{path: '../', pageID: 'exhibition'}); %>

<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<main>
<section>
<div class="ttl-wrapper">
<h2>泥、東京、スイミング<br><span class="tk-industry">24.09-30.09.2017</span></h2>
<img src="imgs/mudtokyoandswimming/works26.jpg">
</div>
<div class="text-wrapper">
<h3><em>アーティスト：</em>ハリエット・フィレンツェ・ファーマー、エリン・ローラ・ヒューズ、インディア・ニールセン、大谷透、大久保薫、三嶋一路、杉原玲那、フェリックス・トレッドウェル</h3>
<h3><em>展覧会のタイトル：</em>泥、東京、スイミング</h3>
<h3><em>会場：</em>パークタワーホールギャラリー<span class="tk-industry">1</span>、東京、日本</h3>
<h3><em>日付：</em><span class="tk-industry">24.09-30.09.2017</span></h3>
<h3><em>写真：</em>三嶋一路、すべての画像の著作権と芸術家と労働者の礼儀</h3>
<h3><em><a class="hover-c" href="mudtokyo_press.html">プレスリリースとアーティストの経歴</a></em></h3>
</div>
<div class="img-wrapper">
<p><img src="imgs/mudtokyoandswimming/works01.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works02.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works03.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works18.jpg"></p>
<p class="cap">フェリックス・トレッドウェル、<span class="tk-industry"> "Untitled"</span>、<span class="tk-industry">2017</span>年、キャンバスにスプレー塗装</p>
<p><img src="imgs/mudtokyoandswimming/works04.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works17.jpg"></p>
<p class="cap">ハリエット・フィレンツェ・ファーマー、<span class="tk-industry"> "Underwater Wave"</span>、<span class="tk-industry">2017</span>年、オイルバーとシルクの染料</p>
<p><img src="imgs/mudtokyoandswimming/works05.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works06.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works20.jpg"></p>
<p class="cap">エリン・ヒューゲス、<span class="tk-industry">"Fire Place, and Sims Collage"</span>、<span class="tk-industry">2017</span>年、混合メディア</p>
<p><img src="imgs/mudtokyoandswimming/works07.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works21.jpg"></p>
<p class="cap">大谷透、<span class="tk-industry">"KSF(green)"</span>、<span class="tk-industry">2017</span>年、研磨紙上のカラーペンシル</p>
<p><img src="imgs/mudtokyoandswimming/works08.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works09.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works10.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works11.jpg"></p>
<p class="cap">杉原玲那、<span class="tk-industry">"study of the wall"</span>、<span class="tk-industry">2017</span>年</p>
<p><img src="imgs/mudtokyoandswimming/works12.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works22.jpg"></p>
<p class="cap">大久保薫、<span class="tk-industry">2017</span>年、キャンバスにアクリルとオイル</p>
<p><img src="imgs/mudtokyoandswimming/works13.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works14.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works19.jpg"></p>
<p class="cap">インディア・ニールセン、<span class="tk-industry"> "Untitled"、</span><span class="tk-industry">2017</span>年、キャンバスにアクリルとオイル</p>
<p><img src="imgs/mudtokyoandswimming/works15.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works14.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works14.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works24.jpg"></p>
<p class="cap">三嶋一路、<span class="tk-industry">"Work, fabricate, built and show"</span>、<span class="tk-industry">2017</span>年、プレハブ住宅部品</p>
<p><img src="imgs/mudtokyoandswimming/works14.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works16.jpg"></p>
<p><iframe src="https://player.vimeo.com/video/238102474?loop=1&byline=0&portrait=0" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="cap">杉原玲那、<span class="tk-industry">"The Sanzu River"</span>、<span class="tk-industry">2017</span>年、<span class="tk-industry">2：10</span>秒</p>
</div>
</section>
</main>
    
<aside>
<p><a class="hover-c" href="livingroom.html"><img src="imgs/living-room_poster.png"><span class="tk-industry">Safehouse1 & 2, London<br>19.04-20.04.2018</span>の<br>リビングルーム</a>
</p>
</aside>
</div><!--/.flex-wrapper-->
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer',{path: '../', pageID: 'exhibition'}); %>

