<%- include('../include/_header',{path: '../', pageID: 'exhibition'}); %>

<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<main>
<section>
<div class="ttl-wrapper">
<img src="imgs/mudd_DM_master.jpg">
</div>
<div class="cv-wrapper">
<h4 class="name">プレスリリース：</h4>
<p>東京のパークタワーホールギャラリー<span class="tk-industry">1</span>でグループ展<span class="tk-industry">「Mud、Tokyo and Swimming」</span>を発表しました。このショーは、アーティストが運営するギャラリー・イム・ロボの最初のプロジェクトになる予定です。このショーでは、英国と日本の<span class="tk-industry">8</span>人の新進アーティストが作品を展示します。</p>
<h4 class="name">アーティスト：</h4>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">ハリエット・フィレンツェ・ファーマー</h4>
<p><img src="imgs/mudtokyoandswimming/harriet1.png"></p>
<h4><span class="tk-industry">b.1990</span>　イギリスのロンドンで生活し、働いています。</h4>
<p><a class="hover-c tk-industry" href="http://www.harrietflorencefarmer.com" target="_blank">http://www.harrietflorencefarmer.com</a></p>
<h4>教育</h4>
<table>
<tr>
<td><span class="tk-industry">2016-2018</span>年</td>
<td class="tk-industry">MA Painting,Royal College of Art</td>
</tr>
<tr>
<td><span class="tk-industry">2013-2016</span>年</td>
<td class="tk-industry">BA (Hons) Fine Art Printmaking, Brighton University</td>
</tr>
<tr>
<td><span class="tk-industry">2007-2009</span>年</td>
<td class="tk-industry">National Diploma Art & Design, City College, Brighton & Hove</td>
</tr>
</table>
<h4>賞</h4>
<p class="tk-industry">University of Brighton, The Bridge Award- Painting, Printmaking 2014</p>
<h4>選ばれた展覧会</h4>
<table>
<tr>
<td><span class="tk-industry">2016</span>年</td>
<td class="tk-industry">CGP Gallery, Southwark</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">WIP, RCA Interim, Jan, RCA</td>
</tr>
<tr>
<td><span class="tk-industry">2015</span>年</td>
<td class="tk-industry">This is Change – Onca Gallery, Brighton</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">BYSSO – University Gallery South</td>
</tr>
<tr>
<td><span class="tk-industry">2014</span>年</td>
<td class="tk-industry">The Heart Grows Fonder – FORMAT, Derby</td>
</tr>
<tr>
<td><span class="tk-industry">2013</span>年</td>
<td class="tk-industry">The Landing – Brighton University</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Art Schism – Gloucester Rd, Brighton</td>
</tr>
<tr>
<td><span class="tk-industry">2012</span>年</td>
<td class="tk-industry">WOAD, Paris</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">エリン・ローラ・ヒューズ</h4>
<p><img src="imgs/mudtokyoandswimming/Shirley.jpg"></p>
<h4><span class="tk-industry">b.1989</span>　イギリスのロンドンで生活し、働いています。</h4>
<p><a class="hover-c tk-industry" href="http://www.erinlaurahughes.com" target="_blank">http://www.erinlaurahughes.com</a></p>
<h4>教育</h4>
<table>
<tr>
<td><span class="tk-industry">2016-2018</span>年</td>
<td class="tk-industry">MA Painting, Royal College of Art</td>
</tr>
<tr>
<td><span class="tk-industry">2009-2012</span>年</td>
<td class="tk-industry">BA, Ruskin School of Drawing and Fine Art, Oxford University</td>
</tr>
</table>
<h4>選ばれた展覧会</h4>
<table>
<tr>
<td><span class="tk-industry">2017</span>年</td>
<td class="tk-industry">Home-Time, Robert Young Antiques, London</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">FAKE SARDINES, Crimscott Street, London</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Time-Poor Dreamers, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Meaningful Vision, Pembroke Art Gallery, Oxford</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">House Dimplex, Norlington Road Studios, London</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Cypher 0.3, Cypher Space, Berlin</td>
</tr>
<tr>
<td><span class="tk-industry">2016</span>年</td>
<td class="tk-industry">Backdrop, ASC Studios, London</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Backdrop, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Phantom Object-Beings, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Cypher 0.2, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Open Cypher, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Ying Colloseum Volume 8 UV Spielothek、Hertabrücke</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Cypher 01, Cypher Space, Berlin</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">インディア・ニールセン</h4>
<p><img src="imgs/mudtokyoandswimming/IndiaNielsen16_1600_c.jpg"></p>
<h4><span class="tk-industry">b. 1991</span>　イギリスのロンドンに住み、働いています。</h4>
<p><a class="hover-c tk-industry" href="http://indianielsen.com" target="_blank">http://indianielsen.com</a></p>
<h4>教育</h4>
<table>
<tr>
<td><span class="tk-industry">2016-2018</span>年</td>
<td class="tk-industry">MA Painting, Royal College of Art</td>
</tr>
<tr>
<td><span class="tk-industry">2013-2016</span>年</td>
<td class="tk-industry">BA, Slade School of Art</td>
</tr>
<tr>
<td class="tk-industry"><span class="tk-industry">2012-2013</span>年</td>
<td class="tk-industry">Central St. Martins</td>
</tr>
</table>
<h4>選ばれた展覧会</h4>
<table>
<tr>
<td><span class="tk-industry">2017</span>年</td>
<td class="tk-industry">CHAIN by 15, London</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">'WIP WIP WIP' Royal College of Art, London</td>
</tr>
<tr>
<td><span class="tk-industry">2016</span>年</td>
<td class="tk-industry">Seer Kin Lives at Jack Bell Gallery</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Royal College of Art Work in Progress show</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Slade Degree show</td>
</tr>
<tr>
<td><span class="tk-industry">2015</span>年</td>
<td class="tk-industry">The Cast of the Crystal Set: X Marks the Bokship at Matt’s Gallery</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Later with… East Anglia Records + Collet TV – Live broadcast at Slade MA Degree show</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">O Yes – Foyles Bookshop soho</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">大谷透</h4>
<p><img src="imgs/mudtokyoandswimming/toru_otani.jpg"></p>
<h4>
<p><span class="tk-industry">b.1988</span>　神奈川での生活と仕事</p>
</h4>
<h4>教育</h4>
<table>
<tr>
<td><span class="tk-industry">2013-2015</span>年</td>
<td class="tk-industry">MFA, Tokyo University of the Arts</td>
</tr>
<tr>
<td><span class="tk-industry">2009-2013</span>年</td>
<td class="tk-industry">BFA, Tokyo University of the Arts</td>
</tr>
</table>
<h4>選ばれた展覧会</h4>
<table>
<tr>
<td><span class="tk-industry">2017</span>年</td>
<td class="tk-industry">planet, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td><span class="tk-industry">2016</span>年</td>
<td class="tk-industry">Landscape Space, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td><span class="tk-industry">2015</span>年</td>
<td class="tk-industry">Casablanca, Kodama Gallery, Kyoto</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Chain Reaction, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">LogictheSymbolicDream, Tokyo University of the Arts, Tokyo</td>
</tr>
<tr>
<td><span class="tk-industry">2014</span>年</td>
<td class="tk-industry">After Appropriation, Kodama Gallery, Tokyo</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">大久保薫</h4>
<p><img src="imgs/mudtokyoandswimming/kaoru_okubo.jpg"></p>
<p class="cap">画像：アーティストと児玉ギャラリーの礼儀</p>
<h4>
<p><span class="tk-industry">b.1990</span>　埼玉県在住</p>
</h4>
<h4>教育</h4>
<table>
<tr>
<td><span class="tk-industry">2015</span>年</td>
<td class="tk-industry">MFA, Tokyo Zokei University</td>
</tr>
</table>
<h4>選ばれた展覧会</h4>
<table>
<tr>
<td><span class="tk-industry">2017</span>年</td>
<td class="tk-industry">RISOKYO, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td><span class="tk-industry">2016</span>年</td>
<td class="tk-industry">Watching Man from Hitomigaura Bay, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td><span class="tk-industry">2015</span>年</td>
<td class="tk-industry">Super Body Maniac β, Kodama Gallery, Kyoto</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Super Body Maniac, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td><span class="tk-industry">2014</span>年</td>
<td class="tk-industry">He, Kodama Gallery, Kyoto</td>
</tr>
<tr>
<td><span class="tk-industry">2013</span>年</td>
<td class="tk-industry">Memento Mori ~ Eros and Thanatos, Shirokane Art Complex, Tokyo (curation: SUGIMOTO Hiroshi)</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">三嶋一路</h4>
<p><img src="imgs/mudtokyoandswimming/mishima.jpg"></p>
<h4>
    <p><span class="tk-industry">b.1986</span>　東京に住み、働く</p>
</h4>
<h4>教育</h4>
<table>
<tr>
<td><span class="tk-industry">2013-2015</span>年</td>
<td class="tk-industry">MFA, Tokyo University of the Arts</td>
</tr>
<tr>
<td><span class="tk-industry">2009-2013</span>年</td>
<td class="tk-industry">BFA, Tokyo University of the Arts</td>
</tr>
<tr>
<td><span class="tk-industry">2007-2009</span>年</td>
<td class="tk-industry">Associate degree, Akita Municipal Junior College of Arts and Crafts</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">杉原玲那</h4>
<p><img src="imgs/mudtokyoandswimming/sugi.jpg"></p>
<h4>
<p><span class="tk-industry">b.1988</span>　イギリスのロンドンに住み、働いています</p>
</h4>
<h4>教育</h4>
<table>
<tr>
<td><span class="tk-industry">2016-2018</span>年</td>
<td class="tk-industry">MA Painting, Royal College of Art</td>
</tr>
<tr>
<td><span class="tk-industry">2009-2012</span>年</td>
<td class="tk-industry">BFA, Tokyo University of the Arts</td>
</tr>
</table>
<h4>選ばれた展覧会</h4>
<table>
<tr>
<td><span class="tk-industry">2017</span>年</td>
<td class="tk-industry">Time-Poor Dreamers, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">WIP, Royal College of Art, London</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">WHIP, Dyson Gallery, Royal College of art, London, Curated by Erin Hughes and Tahmina Negmat</td>
</tr>
<tr>
<td><span class="tk-industry">2015</span>年</td>
<td class="tk-industry">My butter dog is coming to us, Gallery W, Tokyo</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Portrait of Beach, my studio, Tokyo</td>
</tr>
<tr>
<td><span class="tk-industry">2012</span>年</td>
<td class="tk-industry">Portrait of Beach, my studio, Tokyo</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">フェリックス・トレッドウェル</h4>
<p><img src="imgs/mudtokyoandswimming/felix.jpg"></p>
<h4><span class="tk-industry">b.1992</span>　イギリスのロンドンに住み、働いています</h4>
<table>
<tr>
<td><span class="tk-industry">2016-2018</span>年</td>
<td class="tk-industry">MA Painting, Royal College of Art</td>
</tr>
<tr>
<td><span class="tk-industry">2012-2015</span>年</td>
<td class="tk-industry">BA Painting, Camberwell College of Artsト</td>
</tr>
</table>
<h4>賞</h4>
<p><span class="tk-industry">2014 HIX</span>賞受賞者</p>
<h4>選ばれた展覧会</h4>
<table>
<tr>
<td><span class="tk-industry">2018</span>年</td>
<td class="tk-industry">Bloomberg New Contemporaries, Block 336, London, UK</td>
</tr>
<tr>
<td><span class="tk-industry">2017</span>年</td>
<td class="tk-industry">Bloomberg New Contemporaries, BALTIC Centre of Contemporary</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Union Gallery, Bethnal Green, London, UK</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Good Good, Double Good. Lewisham Art House, London, UK</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Baesquit, The Benevolent Association of Excellent Solutions, Deptford, UK</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">WIPWIPWIP (Work In Progress Show) Royal College of Art, London, UK</td>
</tr>
<tr>
<td><span class="tk-industry">2016</span>年</td>
<td class="tk-industry">A Face Like Yours, APT Gallery, Deptford, London, UK</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">pet rocks, Carousel Upstairs, Marylbone, London, UK</td>
</tr>
<tr>
<td><span class="tk-industry">2015</span>年</td>
<td class="tk-industry">Degree Show, Camberwell College of Arts, London, UK</td>
</tr>
<tr>
<td><span class="tk-industry">2014</span>年</td>
<td class="tk-industry">Hans Brinker Painting Prize, Hans Brinker, Amsterdam, The Netherlands</td>
</tr>
<tr>
<td></td>
<td class="tk-industry">Young International Contemporary Art, Kyoto, Japan</td>
</tr>
</table>
</div>
</section>
</main>
    
<aside>
<p><a href="livingroom.html"><img src="imgs/living-room_poster.png"><span class="tk-industry">Safehouse 1 & 2, London<br>19.04-20.04.2018</span>の<br>リビングルーム</a></p>
<p><a href="mudtokyoandswimming.html"><img src="imgs/mudd_DM_master.png"><span class="tk-industry">MUD,</span> 東京スイミング<br><span class="tk-industry">PARK TOWER HALL,</span> 東京で<br><span class="tk-industry">24.09-30.09.2017</span></a></p>
</aside>
</div>
<!--/.flex-wrapper-->
</div>
<!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer',{path: '../', pageID: 'exhibition'}); %>