<%- include('../include/_header_en',{path: '../', pageID: 'exhibition'}); %>

<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<main>
<section>
<div class="ttl-wrapper">
<img src="imgs/mudd_DM_master.jpg">
</div>
<div class="cv-wrapper">
<h4 class="name">Press release : </h4>
<p>im labor is pleased to announce a group show "Mud, Tokyo and Swimming" at Park Tower Hall Gallery1 in Tokyo, Japan. This show is going to be the first project presented by artist-run gallery im labor.<br>In this show 8 emerging artists from England and Japan will be exhibiting their work.</p>
<h4 class="name">Artists : </h4>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">Harriet Florence Farmer</h4>
<p><img src="imgs/mudtokyoandswimming/harriet1.png" width="100%"></p>
<h4>b.1990　lives and works in London,UK</h4>
<p><a class="hover-c" href="http://www.harrietflorencefarmer.com" target="_blank">http://www.harrietflorencefarmer.com</a></p>
<h4>Education</h4>
<table>
<tr>
<td class="year">2016-2018</td>
<td>MA Painting,Royal College of Art</td>
</tr>
<tr>
<td class="year">2013-2016</td>
<td>BA (Hons) Fine Art Printmaking, Brighton University</td>
</tr>
<tr>
<td class="year">2007-2009</td>
<td>National Diploma Art & Design, City College, Brighton & Hove</td>
</tr>
</table>
<h4>Awards</h4>
<p>University of Brighton, The Bridge Award- Painting, Printmaking 2014</p>
<h4>Selected Exhibitions</h4>
<table>
<tr>
<td class="year">2016</td>
<td>CGP Gallery, Southwark</td>
</tr>
<tr>
<td></td>
<td>WIP, RCA Interim, Jan, RCA</td>
</tr>
<tr>
<td class="year">2015</td>
<td>This is Change – Onca Gallery, Brighton</td>
</tr>
<tr>
<td></td>
<td>BYSSO – University Gallery South
</td>
</tr>
<tr>
<td class="year">2014</td>
<td>The Heart Grows Fonder – FORMAT, Derby</td>
</tr>
<tr>
<td class="year">2013</td>
<td>The Landing – Brighton University</td>
</tr>
<tr>
<td></td>
<td>Art Schism – Gloucester Rd, Brighton
</td>
</tr>
<tr>
<td class="year">2012</td>
<td>WOAD, Paris</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">Erin Laura Hughes</h4>
<p><img src="imgs/mudtokyoandswimming/Shirley.jpg" width="100%"></p>
<h4>b.1989　lives and works in London, UK</h4>
<p><a class="hover-c" href="http://www.erinlaurahughes.com" target="_blank">http://www.erinlaurahughes.com</a></p>
<h4>Education</h4>
<table>
<tr>
<td class="year">2016-2018</td>
<td>MA Painting, Royal College of Art</td>
</tr>
<tr>
<td class="year">2009-2012</td>
<td>BA, Ruskin School of Drawing and Fine Art, Oxford University</td>
</tr>
</table>
<h4>Selected Exhibitions</h4>
<table>
<tr>
<td class="year">2017</td>
<td>Home-Time, Robert Young Antiques, London</td>
</tr>
<tr>
<td></td>
<td>FAKE SARDINES, Crimscott Street, London</td>
</tr>
<tr>
<td></td>
<td>Time-Poor Dreamers, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td>Meaningful Vision, Pembroke Art Gallery, Oxford</td>
</tr>
<tr>
<td></td>
<td>House Dimplex, Norlington Road Studios, London</td>
</tr>
<tr>
<td></td>
<td>Cypher 0.3, Cypher Space, Berlin</td>
</tr>
<tr>
<td class="year">2016</td>
<td>Backdrop, ASC Studios, London</td>
</tr>
<tr>
<td></td>
<td>Backdrop, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td>Phantom Object-Beings, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td>Cypher 0.2, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td>Open Cypher, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td>Ying Colloseum Volume 8 UV Spielothek, Hertabrücke</td>
</tr>
<tr>
<td></td>
<td>Cypher 01, Cypher Space, Berlin</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">India Nielsen</h4>
<p><img src="imgs/mudtokyoandswimming/IndiaNielsen16_1600_c.jpg" width="100%"></p>
<h4>b. 1991<span class="space"></span>lives and works in London, UK</h4>
<p><a class="hover-c" href="http://indianielsen.com" target="_blank">http://indianielsen.com</a></p>
<h4>Education</h4>
<table>
<tr>
<td class="year">2016-2018</td>
<td>MA Painting, Royal College of Art</td>
</tr>
<tr>
<td class="year">2013-2016</td>
<td>BA, Slade School of Art</td>
</tr>
<tr>
<td class="year">2012-2013</td>
<td>Central St. Martins</td>
</tr>
</table>
<h4>Selected Exhibitions</h4>
<table>
<tr>
<td class="year">2017</td>
<td>CHAIN by 15, London</td>
</tr>
<tr>
<td></td>
<td>'WIP WIP WIP' Royal College of Art, London</td>
</tr>
<tr>
<td class="year">2016</td>
<td>Seer Kin Lives at Jack Bell Gallery</td>
</tr>
<tr>
<td></td>
<td>Royal College of Art Work in Progress show</td>
</tr>
<tr>
<td></td>
<td>Slade Degree show</td>
</tr>
<tr>
<td class="year">2015</td>
<td>The Cast of the Crystal Set: X Marks the Bokship at Matt’s Gallery</td>
</tr>
<tr>
<td></td>
<td>Later with… East Anglia Records + Collet TV – Live broadcast at Slade MA Degree show</td>
</tr>
<tr>
<td></td>
<td>O Yes – Foyles Bookshop soho</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4 class="name">Toru Otani</h4>
<p><img src="imgs/mudtokyoandswimming/toru_otani.jpg" width="100%"></p>
<h4>
<p>b.1988　lives and works in Kanagawa, Japan</p>
</h4>
<h4>Education</h4>
<table>
<tr>
<td class="year">2013-2015</td>
<td>MFA, Tokyo University of the Arts</td>
</tr>
<tr>
<td class="year">2009-2013</td>
<td>BFA, Tokyo University of the Arts</td>
</tr>
</table>
<h4>Selected Exhibitions</h4>
<table>
<tr>
<td class="year">2017</td>
<td>planet, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td class="year">2016</td>
<td>Landscape Space, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td class="year">2015</td>
<td>Casablanca, Kodama Gallery, Kyoto</td>
</tr>
<tr>
<td></td>
<td>Chain Reaction, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td></td>
<td>LogictheSymbolicDream, Tokyo University of the Arts, Tokyo</td>
</tr>
<tr>
<td class="year">2014</td>
<td>After Appropriation, Kodama Gallery, Tokyo</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4>Kaoru Okubo</h4>
<p><img src="imgs/mudtokyoandswimming/kaoru_okubo.jpg" width="100%"></p>
<p class="cap">image : Courtesy of the artist and Kodama Gallery</p>
<h4>
<p>b.1990　lives and works in Saitama, Japan</p>
</h4>
<h4>Education</h4>
<table>
<tr>
<td class="year">2015</td>
<td>MFA, Tokyo Zokei University</td>
</tr>
</table>
<h4>Selected Exhibitions</h4>
<table>
<tr>
<td class="year">2017</td>
<td>RISOKYO, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td class="year">2016</td>
<td>Watching Man from Hitomigaura Bay, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td class="year">2015</td>
<td>Super Body Maniac β, Kodama Gallery, Kyoto</td>
</tr>
<tr>
<td></td>
<td>Super Body Maniac, Kodama Gallery, Tokyo</td>
</tr>
<tr>
<td class="year">2014</td>
<td>He, Kodama Gallery, Kyoto</td>
</tr>
<tr>
<td class="year">2013</td>
<td>Memento Mori ~ Eros and Thanatos, Shirokane Art Complex, Tokyo (curation: SUGIMOTO Hiroshi)</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4>Ichiro Mishima</h4>
<p><img src="imgs/mudtokyoandswimming/mishima.jpg" width="100%"></p>
<h4>
<p>b.1986　lives and works in Tokyo, Japan</p>
</h4>
<h4>Education</h4>
<table>
<tr>
<td class="year">2013-2015</td>
<td>MFA, Tokyo University of the Arts</td>
</tr>
<tr>
<td class="year">2009-2013</td>
<td>BFA, Tokyo University of the Arts</td>
</tr>
<tr>
<td class="year">2007-2009</td>
<td>Associate degree, Akita Municipal Junior College of Arts and Crafts</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4>Reina Sugihara</h4>
<p><img src="imgs/mudtokyoandswimming/sugi.jpg" width="100%"></p>
<h4>
<p>b.1988　lives and works in London, UK</p>
</h4>
<h4>Education</h4>
<table>
<tr>
<td class="year">2016-2018</td>
<td>MA Painting, Royal College of Art</td>
</tr>
<tr>
<td class="year">2009-2012</td>
<td>BFA, Tokyo University of the Arts</td>
</tr>
</table>
<h4>Selected Exhibition</h4>
<table>
<tr>
<td class="year">2017</td>
<td>Time-Poor Dreamers, Cypher Space, Berlin</td>
</tr>
<tr>
<td></td>
<td>WIP, Royal College of Art, London</td>
</tr>
<tr>
<td></td>
<td>WHIP, Dyson Gallery, Royal College of art, London, Curated by Erin Hughes and Tahmina Negmat</td>
</tr>
<tr>
<td class="year">2015</td>
<td>My butter dog is coming to us, Gallery W, Tokyo</td>
</tr>
<tr>
<td></td>
<td>Portrait of Beach, my studio, Tokyo</td>
</tr>
<tr>
<td class="year">2012</td>
<td>Tokyo University of the Arts Degree Show, Tokyo</td>
</tr>
</table>
</div>
</section>

<section>
<div class="cv-wrapper">
<h4>Felix Treadwell</h4>
<p><img src="imgs/mudtokyoandswimming/felix.jpg" width="100%"></p>
<h4>
<p>b.1992　lives and works in London, UK</p>
</h4>
<table>
<tr>
<td class="year">2016-2018</td>
<td>MA Painting, Royal College of Art</td>
</tr>
<tr>
<td class="year">2012-2015</td>
<td>BA Painting, Camberwell College of Arts</td>
</tr>
</table>
<h4>Awards</h4>
<p>2014 HIX Award Winner</p>
<h4>Selected Exhibitions</h4>
<table>
<tr>
<td class="year">2018</td>
<td>Bloomberg New Contemporaries, Block 336, London, UK</td>
</tr>
<tr>
<td class="year">2017</td>
<td>Bloomberg New Contemporaries, BALTIC Centre of Contemporary</td>
</tr>
<tr>
<td></td>
<td>Union Gallery, Bethnal Green, London, UK</td>
</tr>
<tr>
<td></td>
<td>Good Good, Double Good. Lewisham Art House, London, UK</td>
</tr>
<tr>
<td></td>
<td>Baesquit, The Benevolent Association of Excellent Solutions, Deptford, UK</td>
</tr>
<tr>
<td></td>
<td>WIPWIPWIP (Work In Progress Show) Royal College of Art, London, UK</td>
</tr>
<tr>
<td class="year">2016</td>
<td>A Face Like Yours, APT Gallery, Deptford, London, UK</td>
</tr>
<tr>
<td></td>
<td>pet rocks, Carousel Upstairs, Marylbone, London, UK</td>
</tr>
<tr>
<td class="year">2015</td>
<td>Degree Show, Camberwell College of Arts, London, UK</td>
</tr>
<tr>
<td class="year">2014</td>
<td>Hans Brinker Painting Prize, Hans Brinker, Amsterdam, The Netherlands</td>
</tr>
<tr>
<td></td>
<td>Young International Contemporary Art, Kyoto, Japan</td>
</tr>
</table>
</div>
</section>
</main>
    
<aside>
<p><a href="livingroom_en.html"><img src="imgs/living-room_poster.png">Living Room<br>at Safehouse 1 & 2, London<br>19.04-20.04.2018</a>
</p>
<p><a href="mudtokyoandswimming_en.html"><img src="imgs/mudd_DM_master.png">MUD, TOKYO And SWIMMING<br>at PARK TOWER HALL, Tokyo<br>24.09-30.09.2017</a>
</p>
</aside>
</div><!--/.flex-wrapper-->
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer_en',{path: '../', pageID: 'exhibition'}); %>