<%- include('../include/_header_en',{path: '../', pageID: 'exhibition'}); %>

<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<main>
<section>
<div class="ttl-wrapper">
<h2>MUD, TOKYO And SWIMMING<br>24.09-30.09.2017</h2>
<img src="imgs/mudtokyoandswimming/works26.jpg">
</div>
<div class="text-wrapper">
<h3><em>Artists : </em>Harriet Florence Farmer, Erin Laura Hughes, India Nielsen, Toru Otani, Kaoru Okubo, Ichiro Mishima, Reina Sugihara, Felix Treadwell</h3>
<h3><em>Exhibition title : </em>MUD, TOKYO And SWIMMING</h3>
<h3><em>Venue : </em>Park Tower Hall Gallery1, Tokyo, Japan</h3>
<h3><em>Date : </em>24.09-30.09.2017</h3>
<h3><em>Photography : </em>Ichiro Mishima, all imgs copyright and courtesy of the artists and im labor</h3>
<h3><em><a class="hover-c" href="mudtokyo_press_en.html">Press release & Artists biography</a></em></h3>
</div>
<div class="img-wrapper">
<p><img src="imgs/mudtokyoandswimming/works01.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works02.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works03.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works18.jpg"></p>
<p class="cap">Felix Treadwell, "Untitled", 2017, spray paint on canvas</p>
<p><img src="imgs/mudtokyoandswimming/works04.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works17.jpg"></p>
<p class="cap">Harriet Florence Farmer, 2017, "Underwater Wave", oil bar and dye on silk</p>
<p><img src="imgs/mudtokyoandswimming/works05.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works06.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works20.jpg"></p>
<p class="cap">Erin Huges, "Fire Place, and Sims Collage", 2017, mixed media</p>
<p><img src="imgs/mudtokyoandswimming/works07.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works21.jpg"></p>
<p class="cap">Toru Otani, "KSF(green)", 2017, color pencil on abrasive paper</p>
<p><img src="imgs/mudtokyoandswimming/works08.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works09.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works10.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works11.jpg"></p>
<p class="cap">Reina Sugihara, "study of the wall", 2017</p>
<p><img src="imgs/mudtokyoandswimming/works12.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works22.jpg"></p>
<p class="cap">Kaoru Okubo, 2017, acrylic and oil on canvas</p>
<p><img src="imgs/mudtokyoandswimming/works13.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works14.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works19.jpg"></p>
<p class="cap">India Nielsen, "Untitled", 2017, acrylic and oil on canvas</p>
<p><img src="imgs/mudtokyoandswimming/works15.jpg"></p>
<p><img src="imgs/mudtokyoandswimming/works24.jpg"></p>
<p class="cap">Ichiro Mishima, "Work, fabricate, built and show", 2017, prefabricated house parts</p>
<p><img src="imgs/mudtokyoandswimming/works16.jpg"></p>
<p><iframe src="https://player.vimeo.com/video/238102474?loop=1&byline=0&portrait=0" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="cap">Reina Sugihara, "The Sanzu River", 2017, 2:10minutes</p>
</div>
</section>
</main>
    
<aside>
<p><a class="hover-c" href="livingroom_en.html"><img src="imgs/living-room_poster.png" >Living Room<br>at Safehouse 1 & 2, London<br>19.04-20.04.2018</a></p>
</aside>
</div><!--/.flex-wrapper-->
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer_en',{path: '../', pageID: 'exhibition'}); %>