@charset "utf-8";

main {
    width: 72%;
    @media screen and (max-width:600px) {
        width: 100%;
    }
    section {
        margin-bottom: 60px;
        @media screen and (max-width:600px) {
            margin-bottom: 30px;
        }
        .ttl-wrapper {
            margin-bottom: 20px;
            @media screen and (max-width:600px) {
                margin-bottom: .75rem;
            }
            h2 {
                font-size: 32px;
                line-height: 44px;
                padding-bottom: 10px;
                background-color: #fff;
                @media screen and (max-width:600px) {
                    font-size: 1.15rem;
                    line-height: 1.5rem;
                    padding-bottom: 10px;
                    background-color: #fff;
                }
            }
        }
        .text-wrapper {
            margin-bottom: 20px;
            h3 {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 10px;
                @media screen and (max-width:600px) {
                    font-size: .75rem;
                    font-weight: 400;
                }
                em {
                    font-weight: 600;
                }
            }
        }
        .img-wrapper {
            @media screen and (max-width:600px) {
                h2 {
                    font-size: 1.15rem;
                }
            }
            p {
                margin-bottom: 20px;
                @media screen and (max-width:600px) {
                    margin-bottom: 1rem;
                }
                &.cap {
                    font-size: 14px;
                    margin-top: -10px;
                    @media screen and (max-width:600px) {
                        font-size: .75rem;
                        margin-top: -10px;
                    }
                }
            }
        }
        .cv-wrapper {
            font-size: 14px;
            letter-spacing: 1px;
            h4 {
                margin-bottom: 10px;
                font-weight: 400;
                &.name {
                    font-weight: 600;
                    margin-bottom: 20px;
                }
            }
            p {
                margin-bottom: 25px;
                &.cap {
                    margin-bottom: 25px;
                }
            }
            table {
                font-size: 14px;
                font-weight: 400;
                table-layout: fixed;
                margin-bottom: 20px;
                th {
                    font-size: 14px;
                    font-weight: 400;
                    text-align: left;
                }
                td {
                    padding-right: 25px;
                }
            }
        }
    }
}

.en main section .text-wrapper h3 {
    font-size: 15px;
    letter-spacing: 1px;
    @media screen and (max-width:600px) {
        font-size: .8rem;
        letter-spacing: 1px;
    }
}

aside {
    width: 20.5%;
    @media screen and (max-width:600px) {
        display: none;
    }
    p {
        text-align: right;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 40px;
        img {
            margin-bottom: 10px;
        }
    }
} 