<%- include('../include/_header_en',{path: '../', pageID: 'store'}); %>

<!-- start contents -->

<div class="content-wrapper">
<h2>Coming Soon.</h2>
</div>

<!-- end contents -->

<%- include('../include/_footer_en',{path: '../', pageID: 'store'}); %>
