<%- include('../include/_header',{path: '../', pageID: 'store'}); %>

<!-- start contents -->

<div class="content-wrapper">
<h2>近日公開。</h2>
</div>

<!-- end contents -->

<%- include('../include/_footer',{path: '../', pageID: 'store'}); %>
