@charset "utf-8";

.col2 {
    &.fl {
        width: 240px;
        padding-right: 20px;
        @media screen and (max-width:600px) {
            width: 90%;
            padding: 0;
            margin: 0 auto;
        }
        .news-img {
            padding: 20px;
        }
    }
    &.fr {
        width: 420px;
        margin-right: auto;
        padding-left: 30px;
        box-sizing: border-box;
        @media screen and (max-width:600px) {
            width: 100%;
            padding: 1rem 0;
        }
        h3 {
            font-size: 22px;
            margin-bottom: 10px;
            @media screen and (max-width:600px) {
                font-size: 1.15rem;
            }
        }
        p {
            font-size: 16px;
            @media screen and (max-width:600px) {
                font-size: .75rem;
            }
        }
    }
}