<% var currentClass = 'is-current'; -%>

<footer class="ja fixed-content">
<ul class="gnav">
<li class="logo"><a class="hover <%- pageID == 'index' ? currentClass : '' %>" href="<%= path; %>index.html"><img src="<%= path; %>assets/imgs/im_logo.svg" width="100" height="34"></a></li>
<li><a class="exhibition hover <%- pageID == 'exhibition' ? currentClass : '' %>" href="<%= path; %>exhibition/index.html">展示会</a></li>
<li><a class="en-jour hover <%- pageID == 'journal' ? currentClass : '' %>" href="<%= path; %>journal/index.html">ジャーナル</a></li>
<li><a class="news hover <%- pageID == 'news' ? currentClass : '' %>" href="<%= path; %>news/index.html">ニュース</a></li>
<li><a class="hover <%- pageID == 'store' ? currentClass : '' %>" href="<%= path; %>store/index.html">格納</a></li>
</ul>
<ul class="contact index-contact tk-industry">
<li>im labor is art collective founded in 2017</li>
<li>Please contact - info[at]imlabor.org</li>
</ul>
<div id="page_top"><a href="#"></a></div>
</footer>

</div><!--/.wrapper-->
</body>
</html>