<% var currentClass = 'is-current'; -%>
<% var Contact = 'index-contact'; -%>

<footer class="fixed-content tk-industry">
<ul class="gnav">
<li class="logo"><a class="hover <%- pageID == 'index' ? currentClass : '' %>" href="<%= path; %>index_en.html"><img src="<%= path; %>assets/imgs/im_logo.svg" width="100" height="31"></a></li>
<li><a class="auss hover <%- pageID == 'exhibition' ? currentClass : '' %>" href="<%= path; %>exhibition/index_en.html">Exhibition</a></li>
<li><a class="de-jour hover <%- pageID == 'journal' ? currentClass : '' %>" href="<%= path; %>journal/index_en.html">Journal</a></li>
<li><a class="nach hover <%- pageID == 'news' ? currentClass : '' %>" href="<%= path; %>news/index_en.html">News</a></li>
<li><a class="hover <%- pageID == 'store' ? currentClass : '' %>" href="<%= path; %>store/index_en.html">Store</a></li>
</ul>
<ul class="contact <%- pageID == 'index' ? Contact : '' %>">
<li><span class="ja">私の労働は</span>2017<span class="ja">年に設立されたアート集団です</span></li>
<li>info [at] imlabor.org<span class="ja">に連絡してください</span></li>
</ul>
<div id="page_top"><a href="#"></a></div>
</footer>

</div><!--/.wrapper-->
</body>
</html>