<% var currentClass = 'is-current'; -%>

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>im labor</title>
<meta name="description" content="">
<link rel="icon" type="image/png" href="<%= path; %>assets/imgs/favicon.png">
<link rel="apple-touch-icon" href="<%= path; %>assets/imgs/apple-touch-icon.png" sizes="180x180">
<!--css-->
<link rel="stylesheet" href="<%= path; %>assets/css/common.css">
<link rel="stylesheet" href="<%= path; %>assets/css/drawer.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://use.typekit.net/sjk8loq.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--js-->
<script src="<%= path; %>assets/js/jquery-3.2.1.min.js"></script>
<script src="<%= path; %>assets/js/drawer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<script src="https://use.typekit.net/kdl2svh.js"></script>
<script> //フォント
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
</script>
<script>　//ドロワーナビ
    $(document).ready(function() {
        $('.drawer').drawer();
    });
</script>
<script> //トップへ戻るボタン
    $(function() {
        var pagetop = $('#page_top');   
        pagetop.hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {  //100pxスクロールしたら表示
            pagetop.fadeIn();
            } else {
            pagetop.fadeOut();
        }
        });
        pagetop.click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 500); //0.5秒かけてトップへ移動
        return false;
        });
    });
</script>
</head>

<body class="index ja">
<div class="wrapper">

<header class="fixed-content">
<ul class="gnav">
<li class="logo"><a class="hover <%- pageID == 'index' ? currentClass : '' %>" href="<%= path; %>index.html"><img src="<%= path; %>assets/imgs/im_logo.svg" width="100" height="32"></a></li>
<li><a class="exhibition hover <%- pageID == 'exhibition' ? currentClass : '' %>" href="<%= path; %>exhibition/index.html">展示会</a></li>
<li><a class="en-jour hover <%- pageID == 'journal' ? currentClass : '' %>" href="<%= path; %>journal/index.html">ジャーナル</a></li>
<li><a class="news hover <%- pageID == 'news' ? currentClass : '' %>" href="<%= path; %>news/index.html">ニュース</a></li>
<li><a class="hover <%- pageID == 'store' ? currentClass : '' %>" href="<%= path; %>store/index.html">格納</a></li>
</ul>
</header><!-- end PCnav -->
<div class="drawer drawer--right drawer--navbarTopGutter sp">
<header class="drawer-navbar drawer-navbar--fixed" role="banner">
<div class="drawer-container">
<div class="drawer-navbar-header">
<a class="drawer-brand" href="<%= path; %>index.html"><img src="<%= path; %>assets/imgs/im_logo.svg" width="100" height="32"></a>
<button type="button" class="drawer-toggle drawer-hamburger">
<span class="sr-only">toggle navigation</span>
<span class="drawer-hamburger-icon"></span>
</button>
</div>
<nav class="drawer-nav" role="navigation">
<ul class="drawer-menu">
<li><a class="drawer-menu-item" href="<%= path; %>exhibition/index.html">展示会</a></li>
<li><a class="drawer-menu-item" href="<%= path; %>journal/index.html">ジャーナル</a></li>
<li><a class="drawer-menu-item" href="<%= path; %>news/index.html">ニュース</a></li>
<li><a class="drawer-menu-item" href="<%= path; %>store/index.html">格納</a></li>
</ul>
<ul class="drawer-menu tk-industry">
<li><a class="drawer-menu-item" href="<%= path; %>exhibition/index_en.html">Exhibition</a></li>
<li><a class="drawer-menu-item" href="<%= path; %>journal/index_en.html">Journal</a></li>
<li><a class="drawer-menu-item" href="<%= path; %>news/index_en.html">News</a></li>
<li><a class="drawer-menu-item" href="<%= path; %>store/index_en.html">Store</a></li>
</ul>
</nav>
</div>
</header>
</div><!-- end SPnav -->