<%- include('../include/_header',{path: '../', pageID: 'news'}); %>

<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<section class="col2 fl">
<div class="news-img">
<img src="imgs/il_logo_2.svg">
</div>
</section>
<section class="col2 fr">
<h3>私の労働は<span class="tk-industry">2017</span>年<span class="tk-industry">9</span>月から始まります。</h3>
<p>イム・ラボは<span class="tk-industry">2017</span>年に設立されたアート集団で、新興アーティストを巻き込んだ展覧会を企画しています。</p>
</section>
</div>
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer',{path: '../', pageID: 'news'}); %>