<%- include('../include/_header_en',{path: '../', pageID: 'news'}); %>

<!-- start contents -->

<div class="content-wrapper">
<div class="flex-wrapper">
<section class="col2 fl">
<div class="news-img">
<img src="imgs/il_logo_2.svg" width="200">
</div>
</section>
<section class="col2 fr">
<h3>im labor starts from September 2017.</h3>
<p>im labor is art collective founded in 2017, organizing exhibitions that involve emerging artists.</p>
</section>
</div>
</div><!--/.content-wrapper-->

<!-- end contents -->

<%- include('../include/_footer_en',{path: '../', pageID: 'news'}); %>